<footer>
    <div class="footer-container">
      <div class="left-col">

        <img src="/images/home/footer1.png" alt="" class="logo">
    </div>


    <div class="container-contact" >
      <div class="row2">
        <img class="img-contacto-footer" src="/images/home/footer2.png">
        <p class="p-footer"> 11-2514795 - 47573745</p>
      </div>
    </div> 

      <div class="row2mail">
        <img class="img-contacto-footer" src="/images/home/footer3.png">

        <p class="p-footer">atencionalcliente@tecstore.com</p>
      </div>
      
        <div class="colum3">
          <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        
</footer>