/* Estilos Login*/

.form_login{
    background-color: rgba(15, 12, 12, 0.589);
    padding: 1%;
    margin: 48px auto 32px;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    }

@media (min-width: 365px){.form_login{
    background-color: rgba(15, 12, 12, 0.589);
    padding: 1%;
    margin: 48px auto 32px;
    width: 365px;
    height: 440px;
    border-radius: 6px;
    }
}

.titulo_{
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 1000;
    text-decoration: underline;
    color:  whitesmoke;
}


.caja_login{
    color: whitesmoke;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    margin: 25px;
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.boton_enviar {
    margin: 25px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}
.boton{
    
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #2d99b9;
    background-color: #434647;
    border-radius: 6px;
    border: 2px solid #2d99b9;
  }