<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
 
    <%- include('./partials/header',{title:'ADMIN DASH'}) %> 
    <%- include('./partials/nav') %>
    <main class="small-container cart-page">
      <ul>
         <li><a href="/products/listar_admin">Productos</a></li>
         <li>Usuarios</li>
         <li>Categorias</li>

      </ul>
       

    </main>








    <%- include('./partials/footer') %> 

    
</body>
</html>