.contact-section-main-container{
    margin-top: 80px;
    background-image: url(/images/contact/contact-background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.contact-section-container{
    width: 50%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 80px 0px;
    display: flex;
    flex-wrap: wrap;
}

.contact-welcome-container{
    height: 80px;
}

.contact-form-container{
    margin-top: 30px;
    text-align: left;
    width: 60%;
}

.contact-input-container{
    width: 90%;
    margin-bottom: 22px;
    height: 50px;
}

.contact-textarea-container{
    width: 90%;
    margin-bottom: 30px;
    height: 210px;
}

.contact-inputs{
    width: 100%;
    border-radius: 10px;
}

.contact-textarea{
    width: 100%;
    margin: 0px;
}

.contact-icon{
    padding-right: 10px;
}

.contact-button-container{
    margin-bottom: 10px;
}

.contact-button-send{
    width: 40%;
    height: 35px;
    background-color: green;
    color: white;
    font-size: 16px;
}

.contact-extra-container{
    width: 40%;
    margin-top: 30px;
    padding-left: 40px;
}

.contact-extra-info{
    font-weight: lighter;
    margin-bottom: 30px;
}

/* -----------------11.1 pagina de contacto responsive----------------- */

@media (max-width:1444px){
    .contact-section-container{
        width: 70%
    }
}

@media (max-width:1000px){
    .contact-section-container{
        width: 80%;
    }

    .contact-inputs{
        width:100%
    }

    .contact-textarea{
        width:100%
    }

    .contact-form-container{
        width:100%;
        position: relative;
        bottom: 200px;
        padding: 0px 25px;
    }

    .contact-extra-container{
        width: 90%;
        position: relative;
        top: 450px;
    }
}

@media (max-width:800px){
    .contact-input-container{
        width: 100%
    }
    
    .contact-textarea-container{
        width: 100%;
    }

    .contact-section-container{
        width: 100%;
    }

    .contact-button-send{
        width: 60%;
    }
}