<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

    <body style="background-color: #27293b;">

    <%- include('./partials/header') %> 

    <main>
        <section class=form_login>
            <h5>Registrar Producto</h5>
            <form action="create" method="POST" enctype="multipart/form-data">
                        <input class="controls" type="text" name="marca" id="marca" placeholder="Marca">
                        <input class="controls" type="text" name="cod_prod" id="cod_prod" placeholder="Codigo Producto">
                        <input class="controls" type="number" name="precio" id="precio" placeholder="Precio">
                        <input class="controls" type="number" name="descuento" id="descuento" placeholder="Descuento">
                        <label for="categoria">Categoria</label>
                       <div>
                        <select name="categoria" id="categoria">
                            <option value="pc-notebook">PC/Notebook</option>
                            <option value="consolas">Consolas</option>
                            <option value="accesorios">Accesorios</option>
                        </select>
                         </div><br>
                         <div>
                            <label for="imagen">Imagen del Producto</label>
                            <input type="file" name="imagen" id="imagen">
                        </div>
                        <div><br>
                            <label for="descripcion">Descripcion Producto</label>
                            <textarea name="descripcion" id="descripcion" cols="60" rows="15"></textarea>
                        </div>
                    
                          <br>
                         <input class="buttons" type="submit"  name="guardar_producto" id="guardar_producto" value="Guardar Producto">
                        <p></p> <br>                        
                 
        </section>
    
    </main>

    <%- include('./partials/footer') %> 

</body>
</html>