<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
</head>
<body style="background-color:#03091e;">
    <%- include('./partials/header', {title:'TecStore'}) %>

    <main>
    <section class=form_login>
        <h5>Informacion</h5>
        
        
            <form class="formulario">

                <div >
                    <h2 style="color: chartreuse;">¿Tenes dudas o quieres comunicarte con nosotros?</h2><br>
                    <br>
                    
                    <div>
                        <i class="fas fa-envelope"></i>Email         TecStore@consultas.com <br>
                         <br> <br>
    
                         <i class="fas fa-phone"></i>11-2514795 - 47573745
                   <br><br><br>
                   Realizá tu compra online y recibila en tu domicilio o retirá por nuestro local.
                     
                </div><br><br>
                   <br><br>
                    <h5>Nosotros</h5>
                    En TecStore buscamos destacar por nuestro conocimiento e intentamos establecernos como la opción ideal para sus compras de tecnología. Todos nuestros vendedores se encuentran altamente capacitados para asesorarlo y ofrecerle exactamente lo que necesita.
                    <h5></h5>
                    
               
    </section>
</main>
    


    <%- include('./partials/footer') %>
   
</body>
</html>