<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecStore | Ecommerce</title>
    <link rel="stylesheet" href="../stylesheets/index.css">
    <script src="https://kit.fontawesome.com/a349f96f1f.js" crossorigin="anonymous"></script>
    <link href = "https://fonts.googleapis.com/css2? family = Roboto & display = swap" rel = "stylesheet">
    <link rel="icon" type="image/png" href="../images/home/iconHome.png" />
</head>
<body><header>
    <div class="header">
<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="../images/home/logo.png" alt="Logo del sitio" width="200px" >
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/registro">Registrate</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="/login">Mi cuenta</a></li>
            </ul>
        </nav>
        <figure><i class="fa fa-shopping-bag carrito-logo" aria-hidden="true"></i></figure>
    </div>
    </header>
    <div class="portada">
    <div class="row">
        <div class="col-2">
            <h1>Buscas Tecnologia<br>  de alto nivel?</h1><br>
            <h2 class="texto-portada"> Encontra todo lo que estas buscando y mas!</h2><br>
            <p class="texto-portada">Contamos con la Tecnología mas avanzada para tus necesidades!</p>
            <a href="" class="btn"><bold>Ingresar</bold></a>
        </div>
        <div class="col-2">
            <img src="../images/home/portada.jpg" >
        </div>
    </div>
</div>
   </div> 
</div>
<div class="categories">
    <div class="small-container">
      <div class="row">
        <div class="col-3">
            <img src="../images/home/subportada1.jpg" >
        </div>
        <div class="col-3">
            <img src="../images/home/subportada2.jpg" >
        </div>
        <div class="col-3">
            <img src="../images/home/subportada3.jpg" >
        </div>
    </div>
    </div>

</div>
    
<div class="small-container">
    <h2 class="title">Productos Destacados</h2>
    <div class="row">
        <div class="col-4">
            <img src="../images/home/productoD1.jpg" alt="">
            <h4>APPLE WATCH SERIE 3 - 42MM SILVER 5</h4>
            <p>$44.000</p>
        </div>
        <div class="col-4">
            <img src="../images/home/productoD2.jpg" alt="">
            <h4>NOT LENOVO 15.6 FHD THINKBOOK I5-10210U 8GB 256GB</h4>
            <p>$129.000</p>
        </div>
        <div class="col-4">
            <img src="../images/home/productoD3.jpg" alt="">
            <h4>Monitor Viewsonic 32" 4K UHD HDR10 SuperClear Sin Bordes</h4>
            <p>$86.999</p>
        </div>
        <div class="col-4">
            <img src="../images/home/productoD4.jpg" alt="">
            <h4>Webcam Logitech Meetup + Microfono 4K Zoom </h4>
            <p>$29.000</p>
        </div>
        <div class="col-4">
            <img src="../images/home/productoD5.jpg" alt="">
            <h4>Auriculares Inalambricos Logitech G733 Lightspeed RGB Black</h4>
            <p>$26.000</p>
        </div>
        <div class="col-4">
            <img src="../images/home/productoD6.jpg" alt="">
            <h4>Mouse Glorious Model D (Glossy Black)</h4>
            <p>$9.000</p>
        </div>
    </div>
    <h2 class="title">Ultimos Productos</h2>
    <div class="row">
        <div class="col-4">
            <img src="../images/home/productoD7.jpg" alt="">
            <h4>Play Station 5</h4>
            <p>$94.999</p>
        </div>
</div>
</div>
<footer>
    <div class="footer-container">
      <div class="left-col">
        <img src="../images/home/footer1.png" alt="" class="logo">
        
      </div>
      

      
      <div class="row2">
        <img src="../images/home/footer2.png">
        <p class="p-footer"> 11-2514795 - 47573745</p>
      </div>
      
      <div class="row2">
        <img src="../images/home/footer3.png">
        <p class="p-footer">atencionalcliente@tecstore.com</p>
      </div>
      
        <div class="colum3">
          <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
          

   

  </footer>

</body>
</html>
