<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <script src="https://kit.fontawesome.com/a349f96f1f.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body>
    <header>
        <div class="logo">
            <img class="img" src="../../images/LOGO.jpeg" alt="logo_tecstore">
        </div>
        <div class="menu">
            <a href="registrate" class="color_menu">Registrate</a> <!--/registrate-->  
            <a href="productos" class="color_menu">Productos</a>
            <a href="contacto" class="color_menu">Contacto</a>
        </div> 
            
        
        <div class="iconos">
            <i class="far fa-user-circle usuario"></i>
            <span class="centrado">
                Mi Cuenta
            </span>
            <i class="fas fa-cart-plus carrito"></i>
        </div>
    </header>





    <section>
        <div class="banner_promo">
            <img class="banner" src="../../images/LOGO.jpeg" alt="logo_tecstore">
        </div>
    </section>

    <section>
        <div class="novedades">
        <h2>PROMOCIONES</h2>
        </div>  

        <div class="contenedor">
            <article class="post">
                <h3>Macbook Air 15.6"</h3>
                <img class="img_dest" src="../../images/dest1.jpeg" alt="dest1">
                <div>
                    <div class="precio">
                        <label for="precio" >$11111,11</label>
                    </div>
                    <div class="stock">
                        <label for="stock">Disponible</label>
                        <i class="fas fa-cart-plus carrito">Añadir</i>
                    </div>
                </div>
            </article>

            <article class="post">
                <h3>Macbook Air 15.6"</h3>
                <img class="img_dest" src="../../images/dest1.jpeg" alt="dest1">
                <div>
                    <div class="precio">
                        <label for="precio">$11111,11</label>
                    </div>
                    <div class="stock">
                        <label for="stock">Disponible</label>
                        <i class="fas fa-cart-plus carrito">Añadir</i>
                    </div>
                </div>
            </article>

            <article class="post">
                <h3>Macbook Air 15.6"</h3>
                <img class="img_dest" src="../../images/dest1.jpeg" alt="dest1">
                <div>
                    <div class="precio">
                        <label for="precio">$11111,11</label>
                    </div>
                    <div class="stock">
                        <label for="stock" >Disponible</label>
                        <i class="fas fa-cart-plus carrito">Añadir</i>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <marquee class="marquee"><pre>¡Estamos haciendo ENVIOS a domicilio!                                           Aceptamos todos los medios de pago                                       Comunicate al 0800-888-8888</pre>
                
    </marquee>
    <section>
        <div class="novedades">
        <h2>NOVEDADES</h2>
        </div>

        <div class="contenedor">
            <article class="post">
                <h3>Macbook Air 15.6"</h3>
                <img class="img_dest" src="../../images/dest1.jpeg" alt="dest1">
                <div>
                    <div class="precio">
                        <label for="precio" >$11111,11</label>
                    </div>
                    <div class="stock">
                        <label for="stock">Disponible</label>
                        <i class="fas fa-cart-plus carrito">Añadir</i>
                    </div>
                </div>
            </article>

            <article class="post">
                <h3>Macbook Air 15.6"</h3>
                <img class="img_dest" src="../../images/dest1.jpeg" alt="dest1">
                <div>
                    <div class="precio">
                        <label for="precio">$11111,11</label>
                    </div>
                    <div class="stock">
                        <label for="stock">Disponible</label>
                        <i class="fas fa-cart-plus carrito">Añadir</i>
                    </div>
                </div>
            </article>

            <article class="post">
                <h3>Macbook Air 15.6"</h3>
                <img class="img_dest" src="../../images/dest1.jpeg" alt="dest1">
                <div>
                    <div class="precio">
                        <label for="precio">$11111,11</label>
                    </div>
                    <div class="stock">
                        <label for="stock" >Disponible</label>
                        <i class="fas fa-cart-plus carrito">Añadir</i>
                    </div>
                </div>
            </article>
        </div>
    </section>







    <footer>
        <div class="logo_footer">
            <img class="img_footer" src="../../images/LOGO.jpeg" alt="logo_tecstore">
            <div class="soporte">
                <label for="Preguntas">Preguntas frecuentes</label>
                <label for="Contactanos">Contactanos</label>
                <label for="Nosotros">Sobre nosotros</label>
            </div>
        </div>
        <div class="contacto">
            <div class="telefonos">
                <i class="fas fa-headset"></i>
                <label for="telefonos">11 46787654 - 2615556677</label>
            </div>
            <div class="correos">
                <i class="far fa-envelope carta"></i>
                <label for="mail">atencionalcliente@tecstore.com</label>
            </div>
        </div>
        <div class="sociales">
            <p>Seguinos en</p>
            <div class="redes">
                <div class="twitter"><i class="fab fa-twitter"></i></div>
                <div class="facebook"><i class="fab fa-facebook facebook"></i></div>
                <div class="instagram"><i class="fab fa-instagram instagram"></i></div>
            </div>
        </div>
    </footer>
</body>

</html>