<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 
    <body style="background-color: #faf2eb;"> 
 
    <%- include('./partials/header') %> 

   
        <section class=form_login>
            <h5>Ingresar</h5>
                <form action="login" method="POST">
                        <input class="controls" type="email" name="mail" id="mail" placeholder="Usuario">
                        <input class="controls" type="password" name="password" id="password" placeholder="Contraseña">
                        <input class="buttons" type="submit" name="ingreso" value="Iniciar sesion">
                        <p> <a href="/recup_pass">olvidaste tu contraseña?</a></p> 
           

        </section>

   




    <%- include('./partials/footer') %> 

</body>
</html>