<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 
<body>
 
    <%- include('./partials/header') %> 

    <main>
        <section class=form_login>
            
            <div>
                <h2 class=titulo>Bienvenido!! ingresa tu correo y contrase침a</h2>
            </div>
            <form action="login" method="POST">
                
                <div class=container>
                    
                    <div class=detalle_form_login>
                        <label for="mail">Correo electr칩nico</label><br>
                        <input type="email" name="mail" id="mail" placeholder="juanperez@juan.com">
                    </div>
                    
                    <div class=detalle_form_login>
                        <label for="password">Escriba su contrase침a</label><br>
                        <input type="password" name="password" id="password">
                    </div>
                       
                   
                </div>

            </form>

            <div class=boton_enviar>
                <button type="submit" id="enviar" class=boton>Continuar</button>  
            </div>

            <div class="olvidar_pass">
                <a href="/recup_pass">olvidaste tu contrase침a?</a>
            </div>

        </section>
    </main>

    <%- include('./partials/footer') %> 

</body>
</html>