<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="../stylesheets/styleDetalleProducto.css">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    
        <%- include('./partials/header') %> 
    
        <div class="conten">
            <div class="img-box">
                <img src="../images/product_details/producto-4.jpg">
            </div>
            <div class="text-box">
                <span class="marco-1"> <h1>Notebook Asus<br><span>Ryzen 5 Ssd 512gb 8gb Ram</span></h1></span>
                <h4>-Descripcion</h4>
                <div class="marco">   
                <p><b>PROCESADOR</b>
                    <br>
                    Marca: Intel / Modelo: Celeron N4000
                    <br>
                    Núcleos: 2 / Frecuencia: 2.60 GHz 
                    <br>
                    <b>GRÁFICOS</b><br>
                    Marca: Intel / Modelo: UHD
                    <br>
                    <b>MEMORIA</b><br>
                    Capacidad: 4GB / Tipo: DDR4 SODIMM
                    Expansión: No
                    <br>
                    <b>ALMACENAMIENTO</b><br>
                    Capacidad: 500Gb / Clase: HDD
                    Puerto M2: No
                    <br>
                    <b>PANTALLA</b><br>
                    Tamaño: 15.6 / Resolución: 1366x768
                    <br>
                    <b>CONECTIVIDAD</b><br>
                    WiFi: Si, AC / Bluetooth: Si, 4.2
                    HDMI: Si / Red: Si
                    USB 2.0: 2 / USB 3.1: 1
                    Grabadora DVD: No / Lector Memorias: Si
                    <br>
                    <b>SISTEMA OPERATIVO</b><br>
                    OS: Linux
                </p></div>
                <h2>$110,000</h2>
                <button><i class="fas fa-shopping-cart"></i> Comprar</button>            
            </div> 
        </div>


        <div class="conten">
            <div class="img-box">
                <img src="../images/product_details/producto-4.jpg">
            </div>
            <div class="text-box">
                <span class="marco-1"> <h1>Notebook Asus<br><span>Ryzen 5 Ssd 512gb 8gb Ram</span></h1></span>
                <h4>-Descripcion</h4>
                <div class="marco">   
                <p><b>PROCESADOR</b>
                    <br>
                    Marca: Intel / Modelo: Celeron N4000
                    <br>
                    Núcleos: 2 / Frecuencia: 2.60 GHz 
                    <br>
                    <b>GRÁFICOS</b><br>
                    Marca: Intel / Modelo: UHD
                    <br>
                    <b>MEMORIA</b><br>
                    Capacidad: 4GB / Tipo: DDR4 SODIMM
                    Expansión: No
                    <br>
                    <b>ALMACENAMIENTO</b><br>
                    Capacidad: 500Gb / Clase: HDD
                    Puerto M2: No
                    <br>
                    <b>PANTALLA</b><br>
                    Tamaño: 15.6 / Resolución: 1366x768
                    <br>
                    <b>CONECTIVIDAD</b><br>
                    WiFi: Si, AC / Bluetooth: Si, 4.2
                    HDMI: Si / Red: Si
                    USB 2.0: 2 / USB 3.1: 1
                    Grabadora DVD: No / Lector Memorias: Si
                    <br>
                    <b>SISTEMA OPERATIVO</b><br>
                    OS: Linux
                </p></div>
                <h2>$110,000</h2>
                <button><i class="fas fa-shopping-cart"></i> Comprar</button>            
            </div> 
        </div>
    
        <%- include('./partials/footer') %> 
    
</body>

</html>