<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/estilo_recuperar_pass.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <section class=form_recuperar>
            
            
            <form action="recuperar" method="POST">
                
                <div class=container_recuperar>
                    
                    <div>
                        <h2 class=titulo_recuperar>Recuperar contraseña!</h2>
                    </div>
                    
                    <div class=detalle_form_recuperar>
                        <h4>Por favor ingresá tu e-mail. Las instrucciones para reiniciar tu contraseña serán enviadas a tu correo electrónico</h4>
                        <label for="mail">Correo</label><br>
                        <input type="email" name="mail" id="mail" placeholder="juanperez@juan.com">
                    </div>
                                                            
                    <div class=boton_enviar>
                        <button type="submit" id="recuperar" class=boton>Continuar</button>  
                    </div>

                </div>

            </form>

            
        </section>
    </main>
    <footer></footer>
</body>
</html>