<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body style="background-color: #faf2eb;"> 
    
    <%- include('./partials/header') %> 
   
    <main>
        <section class=form_login>
            <h5>Recuperar contraseña</h5>
                <form action="recuperar" method="POST">
                    
                        <input class="controls" type="email" name="mail" id="mail" placeholder="Email">
                        <br>  <h6>Escribe el email asociado a tu cuenta para recuperar tu contraseña.</h6>
                        <br><br>

                        <input class="buttons" type="submit" id="recuperar" value="Recuperar Contraseña">
                        
        </section>

    </main>
    
    <%- include('./partials/footer') %> 
   
</body>
</html>