<header>
    <title><%=title%></title>
    <div class="header">
        <div class="container">
            <img src="../../images/home/logo.png" alt="Logo del sitio" width="220px" >
            <div class="header-right">
                
        </div>

    </div>
</header>