<header>

    <div class="header">
        <div class="container">
            <img src="../../images/home/logo.png" alt="Logo del sitio" width="220px" >
            <div class="header-right">
            <nav>
            <a href="/">Home</a>
            <a href="/products">Productos</a>
            <a href="/registro">Registrate</a>
            <a href="#">Contacto</a>
            <a href="/login">Mi cuenta</a>
            <a href="/products/sale"><i class="fa fa-shopping-bag carrito-logo" aria-hidden="true"></i></a>
            </div>
            </nav>
        </div>
    </div>
</header>