<header>
    <title><%=title%></title>
    <div class="header">
        <div class="container">
            <a class="imgLogo" href="/"> <img src="../../images/home/logo.png" alt="Logo del sitio" width="220px" > </a>
            <div class="header-right">
            <nav>
            <a class="hoverBlue" href="/">Home</a>
            <a class="hoverBlue" href="contact">Contacto</a>
            <% if (locals.usuarioSesion) { %>
     
   
              <% if (locals.usuarioSesion.typeuser_id>1) { %><a href="/dash">Dashboard</a> <%}%>
              <a class="hoverBlue" href="/users/profile"><%= locals.usuarioSesion.email %><i class="fas fa-user"></i></a></li>
              <a class="hoverBlue" href="/users/logout">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a></li>
              
              <% }  else { %>
                
                  <a class="hoverBlue" href="/products">Productos</a>
            
               
                <a class="hoverBlue" href="/users/login"> Ingresar  <i class="fas fa-sign-in-alt"></i></a></li>
              
              <% } %> 
          
          <a class="hoverBlue" href="/products/sale"><i class="fa fa-shopping-bag carrito-logo" aria-hidden="true"></i></a>

             
            </div>
            </nav>
        </div>
    </div>
</header>